.main-card{
  margin: 100px 400px;
  background-color: #fff;
  box-shadow: 1px 0px 40px grey;
  min-height: 60vh;
  border-radius: 10px;
  
}

.tabs{
  display: flex;
  padding: 1.5em 2em;
  border-bottom: 1px solid rgb(243, 238, 249);
}

.tab{
  position: relative;
  margin-right: 3em;
}

.tab .link{
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: rgb(148, 147, 150);
  cursor: pointer;
  text-decoration: none;
}

.tab .link:hover{
  color: black;
}

.notification-badge{
  position: absolute;
  bottom: 0%;
  left: 105%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(243, 238, 249);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noti-count{
  font-weight: 700;
  font-size: 0.9rem;
  color: rgb(148, 147, 150);
}

.active-bar{
  display: none;
  width: 100%;
  bottom: -110%;
  position: absolute;
  border-bottom: 2px solid rgb(100, 24, 162);
}